<h2>Dives &amp; Charters</h2>

<h3 id="st-lawrence">St. Lawrence River, 1000 Islands Region</h3>

<p>
    The 1000 Islands Region is a scenic, picturesque gateway for tourism and offers a variety of accommodations and activities for everyone.
    The river has been a transportation and trade corridor for generations. The river however can and has been dangerous for navigation with its
    currents, islands and shoals. These navigational hazards have also claimed numerous wrecks in this region. Many of these wreck sites
    are still relatively intact and preserved in the fresh water for divers to enjoy and take a peek back in time. The wrecks range in age
    by well over 100s of years.
</p>

<p>Below is a list of just some of the dives we offer. Don't see yours on a list? Please <a href="~/contact">contact us</a> and discuss what you're looking for.</p>

<div class="wrecks">
    <ul>
        <li>Sir Robert Peel</li>
        <li>Robert Gaskin</li>
        <li>Henry C. Daryaw</li>
        <li>Kinghorn</li>
        <li>A. E. Vickery</li>
        <li>Ash Island</li>
        <li>Rockport Wall</li>
    </ul>
    <ul>
        <li>Muscallonge</li>
        <li>J.B. King</li>
        <li>America</li>
        <li>Roy A. Jodery</li>
        <li>Oconto</li>
        <li>Lillie Parsons</li>
        <li>Keystorm</li>
    </ul>
</div>

<p>
    <small>
        Note: Some of the dive sites require cross border travel. Generally your travel requirements will be a valid passport.
        See the Canada Border Services Agency's information on <a href="https://www.cbsa-asfc.gc.ca/travel-voyage/td-dv-eng.html">Travel Documents</a>. Pick up and drop off
        locations will depend upon Brockville or Rockport dive sites you choose to dive. We will advise.
    </small>
</p>

<h3 id="toronto">Toronto Islands area</h3>

<p>Below is a list of just some of the dives we offer. Please <a href="~/contact">contact us</a> and let us know your specific dive requests and we'll accommodate.</p>

<div class="wrecks">
    <ul>
        <li>PB Locke</li>
        <li>Sligo</li>
        <li>Merril</li>
    </ul>
    <ul>
        <li>Davis</li>
        <li>Birmingham Crane</li>
        <li>Waome</li>
    </ul>
</div>

<h3 id="georgian-bay">Southern Georgian Bay - Midland / Penetang</h3>

<p>
    All the allure of diving in Tobermory, but closer and without the crowds.
    Departing from Midland and Cedar Point. Please <a href="~/contact">contact us</a>
    and let us know your specific dive requests and we'll accommodate.
</p>

<div class="wrecks">
    <ul>
        <li>Mapledawn</li>
        <li>Lottie Wolfe</li>
        <li>Woodie / Elton</li>
        <li>Wawinet</li>
    </ul>
    <ul>
        <li>Marquette</li>
        <li>Cranage</li>
        <li>Indian Belle</li>
    </ul>
</div>

<h3>Special Requests</h3>

<p>
    Don't see your favorite wreck on this list? Please <a href="~/contact">contact us</a> and let us know, we'll be happy to accommodate your request.
</p>