<h2>Thank You</h2>

<p>
    Thank you for submitting your RiverDiver waiver.  We can't wait to see you this season.
</p>

<p>
    Visit the <a href="~/waiver">waiver</a> page if you need to submit another.
</p>